<div class="h-full w-full grid place-items-center">

  <div class="card bg-base-100 w-96 max-w-full shadow-sm">
    <div class="card-body">
      <h1 class="card-title">Sign Up</h1>
      <%= render "form" %>
    </div>
  </div>

</div>
