<div
  class="
    rounded-md aspect-video max-w-sm w-full overflow-hidden relative transform
    transition-transform duration-200 hover:scale-105 shadow-md bg-base-200 grid
    place-items-center
  "
>
  <div class="flex gap-1 opacity-60">
    <%= icon "plus" %>
    Create Video
  </div>
  <%= link_to "", new_video_path, class: "inset-0 absolute" %>
</div>
