<div
  class="
    rounded-md aspect-video w-xs overflow-hidden relative transform
    transition-transform duration-200 hover:scale-105 shadow-md bg-base-100 grid
    place-items-center
  "
>
  <div class="flex gap-1 opacity-60">
    <%= icon "plus" %>
    Create Video
  </div>
  <%= modal_link "",
  new_video_path,
  id: "new_video_modal",
  class: "inset-0 absolute cursor-pointer" %>
</div>
