<div
  id="<%= dom_id offer %>"
  class="
    rounded-md aspect-video w-xs relative transform transition-transform
    duration-200 hover:scale-105 shadow-md overflow-hidden bg-base-100
  "
>
  <div
    style="width: 333%; height: 333%; transform: scale(0.3) translateY(5%);"
    class="origin-top-left"
  >
    <%= render "offers/hero_content", offer: %>
  </div>
  <%= link_to "", offer, class: "inset-0 absolute" %>
</div>
