<% content_for :title, "Editing offer" %>

<div class="container mx-auto p-4">
  <h1 class="text-4xl font-semibold pb-4">Edit offer</h1>
  <%= render "form", offer: @offer, return_to: @return_to %>
</div>
