<% content_for :title, "New offer" %>
<% if @in_modal %>
  <h3 class="text-lg font-bold pb-4">New offer</h3>
  <%= render "form", offer: @offer %>
<% else %>
  <div class="container mx-auto p-4">
    <h1 class="text-4xl font-semibold pb-4">New offer</h1>
    <%= turbo_frame_tag "offer_form" do %>
      <%= render "form", offer: @offer %>
    <% end %>
  </div>
<% end %>
