<!DOCTYPE html>
<html data-theme="pastel">
  <%= render "layouts/head" %>
  <body class="min-h-dvh grid grid-rows-[auto_1fr]">
    <nav class="sticky top-0 z-20">
      <%= render "layouts/resources" %>
      <%= render "layouts/nav" %>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
